In [13]:
#Data Science Lab02 19K-0310
import pandas as pd
df1= pd.read_csv('data\data1.csv', index_col=0)
print(df1)

   A    B  C
0  1  2.0  3
1  4  5.0  6
4  2  NaN  5

In [14]:
import pandas as pd
df2= pd.read_csv('data\data2.csv', index_col=1)
print(df2)

       A  B  C
2      2  5  6
3  Hello  3  4

In [15]:
frames = [df1, df2]

df3 = pd.concat(frames)

In [16]:
print(df3)

       A    B  C
0      1  2.0  3
1      4  5.0  6
4      2  NaN  5
2      2  5.0  6
3  Hello  3.0  4

In [17]:
df4= pd.read_csv('data\data3.csv', index_col=0)
print(df4)

   D  E
1  1  7
4  0  8

In [34]:
# frames2=[df3,df4]
# d5=pd.concat
# df5=pd.merge(df3,df4,on="key")
df5=df3.append(df4)

In [35]:
print(d5)

       A    B    C    D    E
0      1  2.0  3.0  NaN  NaN
1      4  5.0  6.0  NaN  NaN
4      2  NaN  5.0  NaN  NaN
2      2  5.0  6.0  NaN  NaN
3  Hello  3.0  4.0  NaN  NaN
1    NaN  NaN  NaN  1.0  7.0
4    NaN  NaN  NaN  0.0  8.0

In [38]:
df6= pd.read_json('data\data.json')
print(df6)

    A  B
0  11  9
1  22  7
2  33  8

In [39]:
df7 = pd.concat([df5,df6])

In [40]:
print(df7)

       A    B    C    D    E
0      1  2.0  3.0  NaN  NaN
1      4  5.0  6.0  NaN  NaN
4      2  NaN  5.0  NaN  NaN
2      2  5.0  6.0  NaN  NaN
3  Hello  3.0  4.0  NaN  NaN
1    NaN  NaN  NaN  1.0  7.0
4    NaN  NaN  NaN  0.0  8.0
0     11  9.0  NaN  NaN  NaN
1     22  7.0  NaN  NaN  NaN
2     33  8.0  NaN  NaN  NaN

In [42]:
df7.replace(to_replace="Hello",value="NaN")

     A    B    C    D    E
0    1  2.0  3.0  NaN  NaN
1    4  5.0  6.0  NaN  NaN
4    2  NaN  5.0  NaN  NaN
2    2  5.0  6.0  NaN  NaN
3  NaN  3.0  4.0  NaN  NaN
1  NaN  NaN  NaN  1.0  7.0
4  NaN  NaN  NaN  0.0  8.0
0   11  9.0  NaN  NaN  NaN
1   22  7.0  NaN  NaN  NaN
2   33  8.0  NaN  NaN  NaN

In [43]:
column_means = df7.mean()
df = df7.fillna(column_means)

In [44]:
print(df)

       A         B    C    D    E
0      1  2.000000  3.0  0.5  7.5
1      4  5.000000  6.0  0.5  7.5
4      2  5.571429  5.0  0.5  7.5
2      2  5.000000  6.0  0.5  7.5
3  Hello  3.000000  4.0  0.5  7.5
1    NaN  5.571429  4.8  1.0  7.0
4    NaN  5.571429  4.8  0.0  8.0
0     11  9.000000  4.8  0.5  7.5
1     22  7.000000  4.8  0.5  7.5
2     33  8.000000  4.8  0.5  7.5

In [47]:
df.to_csv('newdata.csv')