In [1]:
#Task 1
import pandas as pd
data = {'cities' : ['lahore','karachi',], 'provinces' : ['punjab','sindh']}
# store data as DataFrame object. Assign object name as frame1
frame1 = pd.DataFrame(data)
# print frame
# print(frame1)
data2 = {"cities": ["islamabad","karachi","peshawar","quetta"],
"provinces": ["capital","sindh", "KPK","Balochistan"]}
# store data as DataFrame object. Assign object name as frame2
frame2=pd.DataFrame(data2)
# combine both objects frame1 and frame2; without any duplicate rows and re-arrange all
# indexes
frame3 = pd.concat([frame1,frame2])# combine frame1 and frame2
frame3 = frame3.drop_duplicates(keep= 'first',inplace= False) # remove duplicates rows
frame3 = frame3.sort_values(by='provinces', ascending=False).head()  # sort based on provinces
frame3= frame3.reset_index(drop=True) # re-arrange all indexes
print(frame3) # print frame3

      cities    provinces
0    karachi        sindh
1     lahore       punjab
2  islamabad      capital
3   peshawar          KPK
4     quetta  Balochistan

In [2]:
#Task 2
table={'Name':['','Ali','Ahmed','Nida',''],'Field': ['C','E','E','C','C'],'Age':['','','','',''],'Marks':['-90','60','-10','70','75']}

# dtable=dtable['Name','Field','Age','Marks']
df = pd.DataFrame(table) 
print(df)

    Name Field Age Marks
0            C       -90
1    Ali     E        60
2  Ahmed     E       -10
3   Nida     C        70
4            C        75